# <font color=blue>Assignment for "Grouping and Aggregation Operations on DataFrames"</font>

For Pandas assignments, you are going to use [Titanic](https://www.kaggle.com/c/titanic/download/GQf0y8ebHO0C4JXscPPp%2Fversions%2FXkNkvXwqPPVG0Qt3MtQT%2Ffiles%2Ftrain.csv) (train.csv) dataset. Download the dataset and load to a data frame.

1. Calculate the average age of the passengers for each gender and passenger class by using `groupby()` method.

In [ ]:
import pandas as pd
titanic = pd.read_csv('train.csv', index_col=0)
titanic


titanic.groupby(by= ['Sex','Pclass'])['Age'].mean()

2. Group by embarkation port and print values. (Notice that you get unique values with this.)

In [34]:
titanic
for embarked,fare in enumerate (titanic.groupby(by='Embarked')["Fare"]):
    print(embarked,fare)
    #display(fare)

0 ('C', PassengerId
2      71.2833
10     30.0708
20      7.2250
27      7.2250
31     27.7208
        ...
867    13.8583
875    24.0000
876     7.2250
880    83.1583
890    30.0000
Name: Fare, Length: 168, dtype: float64)
1 ('Q', PassengerId
6       8.4583
17     29.1250
23      8.0292
29      7.8792
33      7.7500
        ...
791     7.7500
826     6.9500
829     7.7500
886    29.1250
891     7.7500
Name: Fare, Length: 77, dtype: float64)
2 ('S', PassengerId
1       7.2500
3       7.9250
4      53.1000
5       8.0500
7      51.8625
        ...
884    10.5000
885     7.0500
887    13.0000
888    30.0000
889    23.4500
Name: Fare, Length: 644, dtype: float64)